.game-board {
  margin: 25px;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 25px;
}

.game-cell {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-weight: bold;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.game-cell.is-x {
  color: #2cccff;
}

.game-cell.is-o {
  color: #FF6651;
}

.game-winner{
  padding: 25px;
  font-size: 30px;
}

.game-reset {
  padding: 15px 20px;
  margin: 25px;
  display: inline-block;
  color: #fff;
  background-color: cornflowerblue;
  border-radius: 20px;
  font-size: 16px;
  border: none;
  outline: none;
}